@media(max-width:991px)
{
    /* flex-direction: column; */
    .card{
        flex-direction: column;
        width: auto;
        max-width: 350px;
        align-items: flex-start;
        /* flex-start : cross-start margin edge of the items is placed on the cross-start line.   */
        margin: 5px;
    }

    .card:hover{
        height: 600px;
    }

    .card .content{
        width: 100%;
        left: 0;
        padding: 30px;

    }

    .card:hover img{
        top: 70%;
        left: 50%;
        height: 300px;
    }
}



@media(mix-width:300px) and (max-width:700){
    .card .circle{
        flex-direction: column;
        /* width: auto;
        max-width: 350px;
        align-items: flex-start; */
        /* flex-start : cross-start margin edge of the items is placed on the cross-start line.   */
        margin: 5px;
    }
    .card:hover{
        display: flex;
        flex-direction: column;
        height: 600px;
    }

}